[Desktop Entry]
Categories=Settings;
Comment=Installer for Linux Deepin
Exec=/usr/bin/deepin-installer-launcher
Icon=deepin-installer
Name=Install Deepin
StartupNotify=false
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.21
X-MultipleArgs=false



# Translations


# Translations
Comment[am]=ለ ሊነክስ መግጠሚያ
Name[am]=መግጠሚያ
Comment[ar]=  تثبيت إلى لينكس دييبن
Name[ar]=تنصيب دييبن
Comment[az]=Linux Deepin üçün quraşdırıcı
Name[az]=Deepin-i Quraşdır
Comment[cs]=Instalátor pro Linux Deepin
Name[cs]=Nainstalovat Deepin
Comment[da]=Installationsprogram for Linux Deepin
Name[da]=Installer Deepin
Comment[de]=Linux Deepin Installationsprogramm
Name[de]=Deepin installieren
Comment[el]=Βοηθός Εγκατάστασης για το Linux Deepin
Name[el]=Εγκατάσταση του Deepin
Comment[es]=Instalador para Linux Deepin
Name[es]=Instalar Deepin
Comment[fi]=Linux Deepin asennusohjelma
Name[fi]=Asenna Deepin
Comment[fr]=Installateur pour Linux Deepin
Name[fr]=Installer Deepin
Comment[es_CL]=Instalar Linux Deepin
Name[es_CL]=Instalar Deepin
Comment[he]=מתקין עבור Linux Deepin
Name[he]=התקן את Deepin
Comment[hr]=Instalacijski program za Linux Deepin
Name[hr]=Instaliraj Deepin
Comment[hu]=Linux Deepin telepítő 
Name[hu]=Deepin telepítése 
Comment[hy]=Linux Deepin-ի տեղադրիչ
Name[hy]=Տեղադրել Deepin
Comment[id]=Installer untuk Linux Deepin
Name[id]=Pasang Deepin
Comment[it]=Installer per Deepin Linux
Name[it]=Installa Deepin OS
Comment[ja]=インストーラー
Name[ja]=インストール
Comment[ms]=Pemasang untuk Linux Deepin
Name[ms]=Pasang Deepin
Comment[nl]=Linux Deepin-installatieprogramma
Name[nl]=Deepin installeren
Comment[es_419]=Instalador para Linux Deepin
Name[es_419]=Instalar Deepin
Comment[pl]=Instalator Linux Deepin
Name[pl]=Zainstaluj Deepin
Comment[pt]=Instalador de Linux Deepin
Name[pt]=Instalar Deepin
Comment[pt_BR]=Instalador para Linux Deepin
Name[pt_BR]=Instalar Deepin
Comment[ro]=Instalator Linux Deepin
Name[ro]=Instalarea Deepin
Comment[ru]=Установщик Linux Deepin
Name[ru]=Установить Deepin
Comment[sk]=Inštalátor pre Linux Deepin
Name[sk]=Inštalovať Deepin
Comment[sl]=Installer za Linux Deepin
Name[sl]=Namesti Deepin
Comment[tr]=Linux Deepin için Kurucu
Name[tr]=Deepin Kur
Comment[uk]=Встановлювач Linux Deepin
Name[uk]=Встановити Deepin
Comment[zh_CN]=Linux Deepin安装器
Name[zh_CN]=安装Deepin
Comment[zh_TW]=Deepin 作業系統安裝程式
Name[zh_TW]=安裝 Deepin
Comment[es_AR]=Instalador de Linux Deepin
Name[es_AR]=Instalar Deepin
Comment[en_AU]=Linux Deepin Installer
Name[en_AU]=Install Deepin
Comment[es_ES]=Instalador de Linux Deepin
Name[es_ES]=Instalar Deepin
