[Desktop Entry]
Categories=Settings;
Comment=Installer for Linux Deepin
Exec=/usr/bin/deepin-installer-launcher
Icon=deepin-installer
Name=Install Deepin
StartupNotify=true
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.21
X-MultipleArgs=false



# Translations


# Translations
Comment[am]=ለ ሊነክስ መግጠሚያ
Name[am]=መግጠሚያ
Comment[ar]=  تثبيت إلى لينكس دييبن
Name[ar]=تنصيب دييبن
Comment[az]=Linux Deepin üçün quraşdırıcı
Name[az]=Deepin-i Quraşdır
Comment[cs]=Instalátor pro Linux Deepin
Name[cs]=Nainstalovat Deepin
Icon[cs]=Instalátor
Comment[da]=Installationsprogram for Linux Deepin
Name[da]=Installer Deepin
Icon[da]=deepin-installeringsprogram
Comment[de]=Linux Deepin Installationsprogramm
Name[de]=Deepin installieren
Icon[de]=deepin-installer
Comment[el]=Βοηθός Εγκατάστασης για το Linux Deepin
Name[el]=Εγκατάσταση του Deepin
Icon[el]=deepin-installer
Comment[es]=Instalador para Linux Deepin
Name[es]=Instalar Deepin
Icon[es]=deepin-installer
Comment[fi]=Linux Deepin asennusohjelma
Name[fi]=Asenna Deepin
Icon[fi]=deepin asennusohjelma
Comment[fr]=Installateur pour Linux Deepin
Name[fr]=Installer Deepin
Icon[fr]=installateur-deepin
Comment[es_CL]=Instalar Linux Deepin
Name[es_CL]=Instalar Deepin
Comment[he]=מתקין עבור Linux Deepin
Name[he]=התקן את Deepin
Icon[he]=deepin-installer
Comment[hr]=Instalacijski program za Linux Deepin
Name[hr]=Instaliraj Deepin
Icon[hr]=deepin-instalacijski program
Comment[hu]=Linux Deepin telepítő 
Name[hu]=Deepin telepítése 
Icon[hu]=deepin-telepítő
Comment[hy]=Linux Deepin-ի տեղադրիչ
Name[hy]=Տեղադրել Deepin
Comment[id]=Installer untuk Linux Deepin
Name[id]=Pasang Deepin
Icon[id]=deepin-installer
Comment[it]=Installer per Deepin Linux
Name[it]=Installa Deepin OS
Icon[it]=deepin-installer
Comment[ja]=インストーラー
Name[ja]=インストール
Comment[ms]=Pemasang untuk Linux Deepin
Name[ms]=Pasang Deepin
Comment[nl]=Linux Deepin-installatieprogramma
Name[nl]=Deepin installeren
Icon[nl]=deepin-installer
Comment[es_419]=Instalador para Linux Deepin
Name[es_419]=Instalar Deepin
Comment[pl]=Instalator Linux Deepin
Name[pl]=Zainstaluj Deepin
Icon[pl]=deepin-installer
Comment[pt]=Instalador de Linux Deepin
Name[pt]=Instalar Deepin
Icon[pt]=deepin-installer
Comment[pt_BR]=Instalador para Linux Deepin
Name[pt_BR]=Instalar Deepin
Icon[pt_BR]=deepin-installer
Comment[ro]=Instalator Linux Deepin
Name[ro]=Instalarea Deepin
Icon[ro]=deepin-installer
Comment[ru]=Установщик Linux Deepin
Name[ru]=Установить Deepin
Icon[ru]=deepin-installer
Comment[sk]=Inštalátor pre Linux Deepin
Name[sk]=Inštalovať Deepin
Icon[sk]=deepin-installer
Comment[sl]=Installer za Linux Deepin
Name[sl]=Namesti Deepin
Comment[tr]=Linux Deepin için Kurucu
Name[tr]=Deepin Kur
Icon[tr]=deepin-installer
Comment[uk]=Встановлювач Linux Deepin
Name[uk]=Встановити Deepin
Icon[uk]=deepin-installer
Comment[zh_CN]=Linux Deepin安装器
Name[zh_CN]=安装Deepin
Icon[zh_CN]=deepin-installer
Comment[zh_TW]=Deepin 作業系統安裝程式
Name[zh_TW]=安裝 Deepin
Icon[zh_TW]=deepin-installer
Comment[es_AR]=Instalador de Linux Deepin
Name[es_AR]=Instalar Deepin
Comment[en_AU]=Linux Deepin Installer
Name[en_AU]=Install Deepin
Comment[es_ES]=Instalador de Linux Deepin
Name[es_ES]=Instalar Deepin
