#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Install Deepin
Name[zh_CN]=安装Deepin
Name[zh_TW]=安裝Deepin
Name[zh_HK]=安裝Deepin
Comment=Installer for Linux Deepin
Comment[zh_CN]=安装器
Comment[zh_TW]=安装器TW
Comment[zh_HK]=安装器HK
Exec=sh -c "pkexec /usr/bin/deepin-installer > /tmp/installer.log 2>&1"
Icon=deepin-installer
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Settings;
StartupNotify=true
X-Desktop-File-Install-Version=0.21
