.Progress .Loading {
    position:absolute;
    top:268px;
    left:343px;
    width:64px;
    height:64px;
    background:url("../images/animation_bg.png");
    z-index:1000;
}

.Progress .LoadingTxt {
    position:absolute;
    top:-60px;
    left:-200px;
    height:30px;
    width:464px;
    text-align:center;
    font-size:20px;
    text-shadow:0 2px 4px rgba(0,0,0,0.3);
}

.Progress .Rotate {
    position:absolute;
    top:0;
    left:0;
    width:64px;
    height:64px;
    background:url("../images/animation_fg.png");
}

.ProgressContainer {
    position:absolute;
    left:0;
    top:90px;
    width:750px;
    height:5px;
    line-height:5px;
    background:rgba(255,255,255,0.1);
    border-top:1px solid rgba(0,0,0,0.3);
    border-bottom:1px solid rgba(0,0,0,0.3);
    margin-left:1px;
    overflow-x:hidden;
    display:none;
}

.ProgressBar {
    float:left;
    width:0%;
    height:5px;
    background:-webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0.4)), color-stop(0.95, rgba(255,255,255,0.9)), to(rgba(255,255,255,1.0)));
    border-radius:0 3px 3px 0;
}

.ProgressLight {
    float:left;
    width:8px;
    height:3px;
    border:1px solid rgba(255,255,255,1.0);
    border-radius:4px;
    background:rgba(255,255,255,1.0);
    margin-left:-4px;
}

.ppt_iframe{
    position:absolute;
    top:100;
    left:0;
    display:none;
    width:750px;
    height:450px;
    margin:0 1px;
    text-align:center;
    overflow:hidden;
    border:0;
}

@-webkit-keyframes loadingout {
    0% {
        opacity:1;
    }
    25% {
        opacity:0.75;
    }
    50% {
        opacity:0.5;
    }
    75% {
        opacity:0.25;
    }
    100% {
        opacity:0;
    }
}

@-webkit-keyframes pptin {
    0% {
        opacity:0;
    }
    25% {
        opacity:0.25;
    }
    50% {
        opacity:0.5;
    }
    75% {
        opacity:0.75;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes progressflash {
    0% { 
        box-shadow: 0px 0px 16px #FFFFFF;
    }
    20% {
        box-shadow: 0px 0px 2px #FFFFFF;
    }
    40% { 
        box-shadow: 0px 0px 16px #FFFFFF;
    }
    60% {
        box-shadow: 0px 0px 2px #FFFFFF;
    }
    80% { 
        box-shadow: 0px 0px 16px #FFFFFF;
    }
    100% {
        box-shadow: 0px 0px 2px #FFFFFF;
    }
}
