Source: deepin-installer
Section: utils
Priority: extra
Maintainer: Li Longyu (Ai Kotoba) <leaeasy@gmail.com>
Build-Depends: debhelper (>= 8.0.0),
 cmake,
 coffeescript,
 golang-go,
 golang-dlib-dev,
 golang-fsnotify-dev,
 libdbus-glib-1-dev,
 libdeepin-webkit-3.0-0,
 liblightdm-gobject-dev | liblightdm-gobject-1-dev,
 libparted-dev,
 libsqlite3-dev,
 dde-go-dbus-factory,
 libwebkitgtk-3.0-dev,
 libxklavier-dev,
 pkg-config,
 python,
Standards-Version: 3.9.5
Homepage: http://www.linuxdeepin.com

Package: deepin-installer
Architecture: any
Depends: ${shlibs:Depends}, libdeepin-webkit-3.0-0,
 ${misc:Depends},
 btrfs-tools,
 dosfstools,
 e2fsprogs,
 jfsutils,
 unionfs-fuse,
 os-prober,
 ntfs-3g,
 reiserfsprogs,
 squashfs-tools,
 xfsprogs,
 hfsprogs,
 tzdata,
 dmidecode,
 gdisk
Description: New installer for linuxdeepin
 New installer for Linuxdeepin. 
