Source: deepin-installer
Section: utils
Priority: extra
Maintainer: Li Longyu (Ai Kotoba) <leaeasy@gmail.com>
Build-Depends: debhelper (>= 8.0.0),
 cmake,
 coffeescript,
 golang-go,
 golang-dlib-dev,
 libdbus-glib-1-dev,
 libdeepin-webkit-3.0-0,
 libgail-3-dev,
 libgdk-pixbuf2.0-dev,
 libgeoclue-dev,
 libglib2.0-dev,
 libgstreamer-plugins-base0.10-dev,
 libgtk-3-dev,
 libicu-dev,
 liblightdm-gobject-1-dev | lightdm-gobject-dev,
 libparted-dev,
 libsqlite3-dev,
 libwebkitgtk-3.0-dev,
 libxklavier-dev,
 pkg-config,
 python,
Standards-Version: 3.9.2
Homepage: http://www.linuxdeepin.com
#Vcs-Git: git://git.debian.org/collab-maint/deepin-desktop.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/deepin-desktop.git;a=summary

Package: deepin-installer
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 btrfs-tools,
 oh-my-zsh,
 casper,
 dosfstools,
 e2fsprogs,
 jfsutils,
 libdeepin-webkit-3.0-0,
 libxklavier16,
 unionfs-fuse,
 ntfs-3g,
 reiserfsprogs,
 squashfs-tools,
 tzdata-l10n,
 xfsprogs,
 hfsprogs,
 dmidecode,
 os-prober,
 gdisk
Description: New installer for linuxdeepin
 New installer for Linuxdeepin. 
