::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);*/
    /*border-radius: 8px;*/
    background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    background: rgba(255, 255, 255, .6);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.4);
}

body {
    -webkit-user-select: none;
    margin: 0;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}


input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}


.hidden_calc_text {
    line-height: 1.5em;
    position: fixed;
    z-index: -10000;
    opacity: 0;
}

.tooltip {
    display: none;
    position: absolute;
    bottom: -0px;
    background:rgba(0,0,0,0.8);
    padding: 5px;
    color: white;
    border-radius: 4px;
    /* z-index: 65535; */
}
