body, html{
    margin:0;
    width:100%;
    overflow:hidden;
}

h1{
    padding-top:5px;
    padding-left:10px;
    font-size:16px;
    margin:2px;
}

ul{
    margin:5px 0;
}

li{
    font-size:12px;
    font-weight:normal;
    padding-right:10px;
}

p{
    margin: 0 6.25px;
    font-size: 7.5px;
}

a{
    color:#e4e4e4;
}

.container{
    width:750px;
    margin:0 auto;
    position:relative;
    background:linear-gradient(#a6dfff,#ffffff);
}

.messages{
    position:absolute;
    font-family: Arial;
    color:white;
    border-radius:3px;
    opacity:0;
}

.text1{
    min-width:200px;
    height:105px;
    top:85px;
    left:52px;
    background:#ce5e1b;
}

.text2{
    min-width:145px;
    height:103px;
    top:140px;
    left:82px;
    background:#4158db;
}

.text3{
    min-width:183px;
    height:103px;
    top:132px;
    left:90px;
    padding-left:34px;
    background:#7fa628;
}

.text3:after{
    content:'';
    display:block;
    position:relative;
    min-width:199px;
    height:300px;
    right:25px;
    bottom:86px;
    background:url('../img/earphone.png');
}

.text4{
    min-width:305px;
    height:115px;
    top:296px;
    left:21px;
    background:#30b3e5;
}
