.Sep {
    margin:120px 275px;
}

.Finish p {
    margin:30px 275px;
    color:#2E2E2E;
    width:200px;
    font-size:16px;
}

.FinishBtn {
    margin:90px 320px;
    width:110px;
    height:35px;
    line-height:35px;
    display:block;
    text-align:center;
    background:#28292D;
    color:#FCFCFC;
    border-radius:5px;
}
