.FinishInfo {
    position:fixed;
    top:160px;
    left:225px;
    width:300px;
    height:60px;
    text-align:center;
}

.Finish .Desc {
    font-size:30px;
    height:40px;
    line-height:40px;
}

.Finish .Detail {
    font-size:14px;
    height:20px;
    line-height:20px;
}

.FinishOps {
    position:fixed;
    top:300px;
    left:200px;
    width:350px;
    height:90px;
    text-align:center;
}

.Finish .Later {
    float:left;
    width:100px;
    height:90px;
    background:url("../images/later.png") no-repeat;
    background-position:17px 7px;
}

.Finish .Later:hover {
    background:url("../images/later_active.png") no-repeat;
    background-position:17px 7px;
}

.Finish .Now {
    float:right;
    width:100px;
    height:90px;
    background:url("../images/now.png") no-repeat;
    background-position:17px 7px;
}

.Finish .Now:hover {
    background:url("../images/now_active.png") no-repeat;
    background-position:17px 7px;
}

.Finish .Txt {
    position:relative;
    top:70px;
}
