body {
    width:500px;
    height:540px;
}

.Title {
    width:500px;
    height:90px;
    line-height:90px;
    background:#474747 url("../images/banner.png") no-repeat fixed top;
    color:#FDFFFF;
    font-weight:bold;
    font-size:24px;
}

.Title p {
    float:left;
    height:40px;
    line-height:40px;
    vertical-align:middle;
    font-size:24px;
    padding-left:20px;
}

.Link {
    position:fixed;
    top:20px;
    right:30px;
    bottom:480px;
    font-size:14px;
    font-weight:normal;
    color:#FFF;
}

.Link span:hover {
    color:#00bdff;
}

.Close {
    position:fixed;
    width:20px;
    height:20px;
    top:10px;
    right:10px;
    bottom:520px;
    left:470px;
    background:url("../images/close.png");
}

.Close:hover {
    background:url("../images/close_hot.png");
}

.Close:visited {
    background:url("../images/close_pressed.png");
}

.Content {
    width:500px;
    height:450px;
    background:#E4E4E4;
}

