@import url(welcome.css);
@import url(part.css);
@import url(progress.css);
@import url(finish.css);
@import url("../../common/css/animation.css");

.Title {
    width:755px;
    height:90px;
    line-height:90px;
    background:#474747;
    color:#FDFFFF;
    text-align:center;
    font-weight:bold;
    font-size:24px;
}


.PageContainer {
    width:755px;
    height:540px;
    background:#E4E4E4;
    border:1px solid #474747;
    overflow:hidden;
}

.Welcome, .Part, .Progress, .Finish {
    width:755px;
    height:540px;
    overflow:hidden;
}

::-webkit-scrollbar {
    width:8px;
    height:90px;
}
 
::-webkit-scrollbar-track {
    ;
}
    
::-webkit-scrollbar-thumb {
    ;
}

::-webkit-scrollbar-thumb:hover {
    ;
}
