@import url(welcome.css);
@import url(part.css);
@import url(progress.css);
@import url(finish.css);
@import url("../../common/css/animation.css");

.PageContainer {
    width:755px;
    height:540px;
    background:#EBF5FE;
    overflow:hidden;
}

.Welcome, .Part, .Progress, .Finish {
    width:755px;
    height:540px;
}

.Title {
    width:755px;
    height:90px;
    line-height:90px;
    background:#DDECF7;
    text-align:center;
    color:#12A1E9;
    font-weight:bold;
    font-size:24px;
}

::-webkit-scrollbar {
    width:8px;
    height:90px;
}
 
::-webkit-scrollbar-track {
    ;
}
    
::-webkit-scrollbar-thumb {
    ;
}

::-webkit-scrollbar-thumb:hover {
    ;
}
