@import url(welcome.css);
@import url(part.css);
@import url(progress.css);
@import url(finish.css);
@import url("../../common/css/animation.css");

body {
    width:750px;
    height:540px;
    background: url("../images/background.png") no-repeat fixed top;
    overflow:hidden;
    color:rgb(255,255,255);
    text-shadow:0 1px rgba(0,0,0,0.5);
}

.Title {
    width:750px;
    height:90px;
    line-height:90px;
    color:#FDFFFF;
    text-align:center;
}

.Title p {
    float:left;
    height:40px;
    line-height:40px;
    margin-left:28px;
    vertical-align:middle;
    font-size:24px;
    background:url("../images/logo.png") no-repeat;
    padding-left:245px;
    padding-top:4px;
}

.Close {
    position:fixed;
    width:20px;
    height:20px;
    top:10px;
    right:10px;
    bottom:520px;
    left:725px;
    background:url("../images/close.png");
}

.Close:hover {
    background:url("../images/close_hot.png");
}

.Close:visited {
    background:url("../images/close_pressed.png");
}

.PageContainer {
    width:750px;
    height:540px;
    overflow:hidden;
    border:1px rgba(0,0,0,0.3) solid;
    box-shadow:inset 0 1px rgba(255,255,255,0.2),
               inset 1px 0 rgba(255,255,255,0.2),
               inset -1px 0 rgba(255,255,255,0.2),
               inset 0 -1px rgba(255,255,255,0.2);
}

.Welcome, .Part, .Progress, .Finish {
    width:750px;
    height:540px;
    overflow:hidden;
}

.Board {
    position:absolute;
    width:750px;
    height:540px;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:100;
    background:rgba(255,255,255,0.5);
    display:none;
}

.DialogCommon {
    position:absolute;
    left:175px;
    right:175px;
    top:100px;
    width:400px;
    min-height:140px;
    background:#FFF url("../images/dialog.jpg");
    z-index:200;
    border:1px solid rgba(0,0,0,0.2);
    border-radius:5px;
    box-shadow:inset 0 1px rgba(255,255,255,0.2),
               inset 0 -1px rgba(255,255,255,0.2),
               inset 1px 0 rgba(255,255,255,0.2),
               inset -1px 0 rgba(255,255,255,0.2);
}

.DialogTitle {
    width:400px;
    height:85px;
    line-height:85px;
    font-size:16px;
    text-align:center;
    border-bottom:1px solid rgba(0,0,0,0.2);
    box-shadow:0 -1px rgba(255,255,255,0.2);
}

.DialogTxt {
    text-align:center;
}

.DialogClose {
    position:absolute;
    top:3px;
    right:4px;
    width:20px;
    height:20px;
    background:url("../images/close.png") no-repeat;
}

.DialogClose:hover {
    background:url("../images/close_hot.png") no-repeat;
}

.DialogClose:visited {
    background:url("../images/close_pressed.png") no-repeat;
}

.DialogContent {
    text-align:center;
    min-height:20px;
}

.DialogContent p {
    clear:both;
}

.DialogContent .AddDesc {
    display:block;
    width:170px;
    float:left;
}

.DialogContent .AddValue {
    display:block;
    width:230px;
    text-align:left;
    float:right;
}

.DialogBtn {
    width:400px;
    height:85px;
    text-align:center;
    margin:0;
    clear:both;
}

.DialogBtn span {
    display:inline-block;
    float:right;
    width:110px;
    height:22px;
    line-height:22px;
    background:rgba(255,255,255,0.5);
    color:#FFF;
    margin:20px 60px 0 0;
    border:1px solid rgba(0,0,0,0.2);
    border-radius:5px;
    box-shadow:inset 0 1px rgba(255,255,255,0.2),
               inset 0 -1px rgba(255,255,255,0.2),
               inset 1px 0 rgba(255,255,255,0.2),
               inset -1px 0 rgba(255,255,255,0.2);
}

.DialogBtn span:hover {
    color:#00bdff;
}

.DropBoard {
    position:absolute;
    width:750px;
    height:540px;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:200;
    background:rgba(255,255,255,0.1);
    display:none;
}

.DropDownBase {
    border-top:1px solid rgba(0,0,0,0.5);
    border-left:1px solid rgba(0,0,0,0.5);
    border-right:1px solid rgba(0,0,0,0.5);
    border-bottom:1px solid rgba(255,255,255,0.1);
    box-shadow:inset 0 -1px rgba(0,0,0,0.3);
    border-radius:4px;
    background:-webkit-gradient(linear, left top, left bottom, from(rgba(133,133,133,0.2)), color-stop(0.1, rgba(255,255,255,0.2)), to(rgba(255,255,255,0.2)));
}

.DropDownCurrent {
    float:left;
    height:20px;
    padding-top:2px;
    padding-left:10px;
}

.DropDownAngle {
    float:right;
    width:20px;
    height:20px;
    padding-top:2px;
    background:url("../images/close.png");
}

.DropDownList {
    position:relative;
    background:url("../images/background.png");
    max-height:200px;
    overflow-x:hidden;
    overflow-y:scroll;
    z-index:300;
}

.DropDownItem:hover {
    background:rgba(255,255,255,0.2);
}

::-webkit-scrollbar {
    width:12px;
    background:#FFF;
}

::-webkit-scrollbar-thumb {
    background:#C1C1C1;
    height:190px;
    border-radius:5px;
}

::-webkit-scrollbar-thumb:hover {
    background:#00bdff;
}

select {
    text-indent:10px;
}

div {
    cursor:default;
}
