.Part {
    padding:0 27px;
}

.PartTitle {
    width:700px;
    height:45px;
    margin-top:17px;
    font-size:17px;
}

.PartTitle span {
    float:right;
    margin:0 5px;
}

.PartLineMaps {
    width:700px;
    height:15px;
    overflow:hidden;
    padding:0 1px;
}

.PartLineItem {
    float:left;
    height:15px;
    opacity:0.4;
}

.PartLineItemActive {
    float:left;
    height:15px;
    opacity:1.0;
}

.PartTable {
    width:700px;
    height:300px;
    margin-top:5px;
    text-align:center;
}

.PartTableHeader {
    width:700px;
    height:35px;
    background:#D8E7F4;
    border:1px solid #CFE2F0;
}

.PartTableHeader span {
    float:left;
    width:200px;
    height:35px;
    line-height:35px;
}

.PartTableHeader div {
    float:left;
    width:100px;
    height:35px;
    line-height:35px;
}

.PartTableItems {
    width:700px;
    height:265px;
    overflow-y:auto;
    overflow-x:hidden;
}

.PartTableItem {
    width:700px;
    height:50px;
    border:1px solid #CFE2F0;
    clear:both;
}

.PartTableItemActive {
    background:#CADDEF;
}

.PartTableItem >span {
    width:200px;
    height:50px;
    line-height:50px;
    float:left;
}

.PartTableItem >div {
    width:100px;
    height:50px;
    line-height:50px;
    vertical-align:middle;
    float:left;
}

.PartTableItem .Os {
    width:75px;
    height:30px;
    line-height:30px;
    margin:10px 0;
    text-align:right;
    float:left;
}

.PartTableItem .Color {
    width:20px;
    height:20px;
    line-height:20px;
    float:left;
    margin:15px 5px;
}

.PartTableItem .LabelPath {
    width:95px;
    height:50px;
    line-height:50px;
    float:left;
    text-align:left;
}

.PartTableItem .Label, .PartTableItem .Path {
    width:95px;
    height:25px;
    line-height:25px;
    max-height:50px;
}

.PartTableItem select {
    margin:10px 0;
    height:30px;
}

.PartOp {
    width:700px;
    height:30px;
}

.PartBtn {
    float:left;
    text-align:center;
    width:145px;
    height:30px;
    line-height:30px;
    margin-right:20px;
    background:#EAEAEA;
    color:#ACACAC;
    pointer-events:none;
}

.PartBtnActive {
    float:left;
    text-align:center;
    width:145px;
    height:30px;
    line-height:30px;
    margin-right:20px;
    background:#8BCEFB;
    color:#FFFFFF;
    pointer-events:auto;
    border:1px solid #CFE2F0;
}

.PartGrub {
    clear:both;
    width:700px;
    height:24px;
    vertical-align:bottom;
}

.PartGrub span {
    width:150px;
    height:24px;
    overflow:hidden;
}

.PartGrub select {
    width:550px;
    height:24px;
    float:right;
}

.NextStep span {
    position:fixed;
    bottom:20px;
    right:30px;
    float:right;
    text-align:center;
    width:175px;
    height:50px;
    line-height:50px;
    background:#8BCEFB;
    color:white;
    border:1px solid #CFE2F0;
}

/*
.ModelDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.ModelDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.ModelDialogShow {
    opacity: 1;
    pointer-events: auto;
}

.ModelDialog > div {
    width: 70%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { 
    background: #00d9ff; 
}
*/
