.Part {
    padding:0 27px;
}

.PartTitle {
    width:700px;
    height:45px;
    margin-top:17px;
    font-size:17px;
}

.PartTitle i {
    font-style:normal;
}

.PartTitle span {
    float:right;
    margin:0 5px;
}

.PartTitle span:hover {
    color:red;
}

.PartLineMaps {
    width:700px;
    height:15px;
    overflow:hidden;
    padding:0 1px;
}

.PartLineDiskActive {
    border:12px solid red;
}

.PartLineItem {
    float:left;
    height:15px;
    opacity:0.4;
}

.PartLineItemActive {
    float:left;
    height:15px;
    opacity:1.0;
}

.PartTable {
    width:700px;
    height:300px;
    margin-top:5px;
    text-align:center;
}

.PartTableHeader {
    width:700px;
    height:35px;
    background:#D8E7F4;
    border:1px solid #CFE2F0;
}

.PartTableHeader span {
    float:left;
    width:200px;
    height:35px;
    line-height:35px;
}

.PartTableHeader div {
    float:left;
    width:100px;
    height:35px;
    line-height:35px;
}

.PartTableItems {
    width:700px;
    height:265px;
    overflow-y:auto;
    overflow-x:hidden;
}

.PartTableItem {
    width:700px;
    height:50px;
    border:1px solid #CFE2F0;
    clear:both;
}

.PartTableItemActive {
    background:#CADDEF;
}

.PartTableItem >span {
    width:200px;
    height:50px;
    line-height:50px;
    float:left;
}

.PartTableItem >div {
    width:100px;
    height:50px;
    line-height:50px;
    vertical-align:middle;
    float:left;
}

.PartTableItem .Os {
    width:75px;
    height:24px;
    line-height:24px;
    margin:13px 0;
    text-align:right;
    float:left;
}

.PartTableItem .Color {
    width:16px;
    height:16px;
    line-height:16px;
    float:left;
    margin:17px 5px;
}

.PartTableItem .LabelPath {
    width:95px;
    height:50px;
    float:left;
    text-align:left;
    vertical-align:middle;
    display:table-cell;
}

.PartTableItem .Label, .PartTableItem .Path {
    width:95px;
    height:25px;
    line-height:25px;
    max-height:50px;
}

.PartTableItem select {
    margin:10px 0;
    height:30px;
}

.PartOp {
    width:700px;
    height:30px;
}

.PartBtn {
    float:left;
    text-align:center;
    width:145px;
    height:30px;
    line-height:30px;
    margin-right:20px;
    background:#EAEAEA;
    color:#ACACAC;
    pointer-events:none;
}

.PartBtnActive {
    float:left;
    text-align:center;
    width:145px;
    height:30px;
    line-height:30px;
    margin-right:20px;
    background:#8BCEFB;
    color:#FFFFFF;
    pointer-events:auto;
    border:1px solid #CFE2F0;
}

.PartGrub {
    clear:both;
    width:700px;
    height:24px;
}

.PartGrub span {
    width:150px;
    height:24px;
    line-height:24px;
    overflow:hidden;
}

.PartGrub select {
    width:550px;
    height:24px;
    line-height:24px;
    float:right;
}

.NextStep span {
    position:fixed;
    bottom:20px;
    right:30px;
    float:right;
    text-align:center;
    width:175px;
    height:50px;
    line-height:50px;
    background:#8BCEFB;
    color:white;
    border:1px solid #CFE2F0;
    font-size:24px;
    font-weight:bold;
}

.AddPartDialog {
    position:fixed;
    left:130px;
    right:130px;
    top:170px;
    bottom:120px;
    width:490px;
    height:260px;
    background:#FFFFFF;
    z-index:99999;
}

.AddPartDialog:target {
	pointer-events:auto;
}

.DeletePartDialog {
    position:fixed;
    left:130px;
    right:130px;
    top:170px;
    bottom:120px;
    width:490px;
    height:180px;
    background:#FFFFFF;
    z-index:99999;
}

.DeletePartDialog:target {
	pointer-events:auto;
}

.DialogTitle {
    background:#F5FAFE;
    width:490px;
    height:40px;
    line-height:40px;
    font-size:16px;
    margin:0;
}

.DialogContent {
    padding:0 0 0 110px;
    margin:0;
}

.DialogBtn {
   position:absolute;
   right:0;
   bottom:0;
}

.DialogBtn span {
    display:block;
    float:right;
    width:100px;
    height:30px;
    line-height:30px;
    background:#8BCEFB;
    color:white;
    margin:0 10px 10px 10px;
    text-align:center;
}
