.Ppt, .Ppt img {
    width:752px;
    height:450px;
}

.ProgressContainer {
    position:fixed;
    left:0;
    right:0;
    top:510px;
    bottom:20px;
    width:752px;
    height:12px;
    background:#E6F3EC;
    border:solid 1px #A8C2B5;
}

.ProgressBar {
    width:455px;
    height:12px;
    background:#5499DC;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
