.VirtualMachine{
    height:100%;
}

.VirtualTitle {
    text-align:center;
    font-size:18px;
}

.VirtualTips {
    text-align:center;
    min-height:30px;
    line-height:30px;
    margin-top:100px;
    padding:10px 50px;
}

.VirtualFoot {
    margin-top:100px;
    text-align:center;
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;
}
