p {
    margin:16px 115px;
    font-size:16px;
}

p span {
    float:left;
    text-align:right;
    width:120px;
    height:26px;
    line-height:26px;
    display:block;
    padding:0 5px 0 0;
}

p input, p select {
    width:250px;
    height:26px;
    margin-left:8px;
}

input:focus,select:focus {
    border:#72ADE4 2px solid;
}

p i {
    margin:0 170px;
    width:180px;
    height:50px;
    line-height:50px;
    background:#94D3FB;
    display:block;
    color:red;
    /*
    color:#FEFEFE;
    */
}

.Username {
    margin-top:35px;
}

.Keyboard {
    margin-top:38px;
}

