.Welcome p {
    font-size:16px;
    height:26px;
    line-height:26px;
    vertical-align:middle;
}

.Welcome .Txt {
    position:absolute;
    right:515px;
    display:block;
    height:26px;
    line-height:26px;
}

.Welcome p input, .Welcome p select {
    position:absolute;
    left:252px;
    right:252px;
    width:250px;
    height:26px;
}

.Welcome input:focus, .Welcome select:focus {
    border:#72ADE4 2px solid;
}

.Welcome .Info {
    position:absolute;
    left:515px;
    display:block;
    height:26px;
    line-height:26px;
    color:red;
}

.Welcome .Start {
    position:absolute;
    left:287px;
    right:287px;
    bottom:80px;
    width:180px;
    height:50px;
    line-height:50px;
    background:#E9E9E9;
    color:#B6B6B6;
    text-align:center;
    font-size:24px;
}

.Welcome .StartActive {
    position:absolute;
    left:287px;
    right:287px;
    bottom:80px;
    width:180px;
    height:50px;
    line-height:50px;
    background:#94D3FB;
    display:block;
    color:#FFFFFF;
    text-align:center;
    font-size:24px;
}
