.TitleSet {
    position:absolute;
    width:220px;
    height:30px;
    line-height:30px;
    right:24px;
    top:60px;
    bottom:0px;
    font-size:14px;
    color:#B3B3B3;
}

.TitleSet span {
    float:left;
    width:70px;
    height:24px;
    line-height:24px;
    color:#FFFFFF;
    text-align:center;
    padding-left:40px;
    margin:3px 0;
}

.TitleSet span:hover {
    color:#00bdff;
}

.KeyboardSet {
    background:url("../images/keyboard.png") no-repeat;
    background-position:8px;
}

.TimezoneSet {
    background:url("../images/timezone.png") no-repeat;
    background-position:8px;
}

.WelcomeForm {
    position:absolute;
    left:239px;
    right:239px;
    top:140px;
    bottom:156px;
    width:272px;
}

#username input {
    background:url("../images/username.png") no-repeat;
}

#hostname input {
    background:url("../images/hostname.png") no-repeat;
}

#password input {
    background:url("../images/password.png") no-repeat;
}

#confirmpassword input {
    background:url("../images/password.png") no-repeat;
}

.WelcomeFormItem {
    width:272px;
    height:36px;
    border-top:1px solid rgba(0,0,0,0.5);
    border-left:1px solid rgba(0,0,0,0.5);
    border-right:1px solid rgba(0,0,0,0.5);
    border-bottom:1px solid rgba(255,255,255,0.1);
    box-shadow:inset 0 -1px rgba(0,0,0,0.3);
    border-radius:4px;
    margin-bottom:30px;
    background:-webkit-gradient(linear, left top, left bottom, from(rgba(133,133,133,0.2)), color-stop(0.1, rgba(255,255,255,0.2)), to(rgba(255,255,255,0.2)));
}

.WelcomeFormItem input {
    padding:0;
    width:272px;
    height:36px;
    border-style:none;
    padding-left:36px;
    outline-style:none;
    text-shadow:0 1px rgba(0,0,0,0.5);
}

.Current {
    background:#D0D0D0;
    padding-left:16px;
    height:30px;
    line-height:30px;
    color:#0870BC;
}

.Current span {
    margin-right:10px;
}

.KeyboardList{
    margin:0px;
    height:400px;
    overflow:scroll;
}

.KeyboardItem {
    height:23px;
    line-height:23px;
    padding-left:16px;
}

.KeyboardItem:hover {
    background:#2FC1FF;
}

.Timezone, .Keyboard {
    position:absolute;
    left:6px;
    right:6px;
    top:90px;
    bottom:12px;
    width:738px;
    height:436px;
    background:rgba(255,255,255,0.2);
}

.TimezoneWrap {
    position:relative;
    width:736px;
}

.TimezonePicker {
    background:url("../images/zonemap.png");
    position:relative;
    width:736px;
    height:404px;
    padding:0px;
}

.TimezoneMap {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0.5;
    width:736px;
    height:404px;
}

.TimezoneCanvas {
    position:absolute;
    top:0px;
    left:0px;
    width:736px;
    height:404px;
}

.Pin {
    position:absolute;
    margin:0px;
    padding:0px;
    width:14px;
    height:13px;
}

.Welcome .Start {
    position:absolute;
    left:285px;
    right:285px;
    top:440px;
    bottom:60px;
    width:180px;
    height:38px;
    border:1px solid rgba(0,0,0,0.3);
    border-radius:5px;
}

.Welcome .Start input {
    width:180px;
    height:38px;
    padding-top:5px;
    background:-webkit-gradient(linear, left top, left bottom, from(#F4C688), to(#FFBE57));
    color:#000;
    border:1px solid rgba(255,255,255,0.3);
    box-shadow:inset rgba(255,255,255,0.2);
    border-radius:5px;
    font-size:18px;
    font-style:bold;
    text-align:center;
    text-shadow:1px rgba(255,255,255,0.15);
}
